<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>RadarServlet</servlet-name>
    <servlet-class>cn.lk.Servlet.RadarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RadarServlet</servlet-name>
    <url-pattern>/RadarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BarServlet</servlet-name>
    <servlet-class>cn.lk.Servlet.BarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BarServlet</servlet-name>
    <url-pattern>/BarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LineServlet</servlet-name>
    <servlet-class>cn.lk.Servlet.LineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LineServlet</servlet-name>
    <url-pattern>/LineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PieServlet</servlet-name>
    <servlet-class>cn.lk.Servlet.PieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PieServlet</servlet-name>
    <url-pattern>/PieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pie1Servlet</servlet-name>
    <servlet-class>cn.lk.Servlet.Pie1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pie1Servlet</servlet-name>
    <url-pattern>/Pie1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>cn.lk.Servlet.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/MapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Map1Servlet</servlet-name>
    <servlet-class>cn.lk.Servlet.Map1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map1Servlet</servlet-name>
    <url-pattern>/Map1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloudServlet</servlet-name>
    <servlet-class>cn.lk.Servlet.CloudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloudServlet</servlet-name>
    <url-pattern>/CloudServlet</url-pattern>
  </servlet-mapping>
</web-app>